.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
    color: white;
}

.login>img{
    width: 85%;

}

.login>a{
    padding:20px;
    border-radius: 99px;
    background-color: #1db954;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding-left: 2em;
    padding-right: 2em;

}

#main-img{
    background-color: black;
    padding: 3em;
    padding-left: 15em;
    padding-right: 15em;

    
  }